<%- include('./layout/Header') %>
    <%- include('./layout/Navbar')%>
    <div class="showcase">
        <h1>About <span class="green-text">Express Dairy</span></h1>
        <p>A simple app made with express</p>
        <p>By <span class="green-text">Avinash.T</span></p>
        <a href="">version 1.0</a>

    </div>
 <%- include('./layout/Footer') %> 