<%- include('./layout/Header') %>
    <%- include('./layout/Navbar')%>
    <div class="showcase">
        <h1>Welcome to Express <span class="green-text">Dairy</span></h1>
        <p>Record your Daily Life</p>
        <a href="/diary">Open Your Express Dairy</a>

    </div>
<%- include('./layout/Footer') %>